extends layout

block content
  h1= title
  p Welcome to #{title}
  table.table.table-striped
    tbody
      tr
        td Your orderId
        td #{result.orderId}
      tr
        td Your price:
        td #{result.price}
  div.text-center.row
    .col
      form(action="#{result.backLink}",method="post", name="bank")
        input(type="hidden", name="orderId", value="#{result.orderId}")
        button.btn.btn-success(type="submit") success
    .col
      a.btn.btn-danger(href="http://localhost:4001/failed") failed
