extends layout
block content
  div.max-320.center-flex
    h1= title
    p Welcome to #{title}
    table.table.table-striped
      tbody
        tr
          td Your orderId
          td #{result.orderId}
        tr
          td Your amount:
          td #{result.amount}
    div.text-center.row
      .col
        form(action="/mrCompletePayment",method="post", name="bank")
          input(type="hidden", name="refId", value="#{result.refId}")
          input(type="hidden", name="callBackUrl", value="#{result.callBackUrl}")
          input(type="hidden", name="resCode", value="0")
          input(type="hidden", name="saleReferenceId", value="#{result.saleReferenceId}")
          input(type="hidden", name="saleOrderId", value="#{result.saleOrderId}")
          button.btn.btn-success(type="submit") success
      .col
        form(action="/mrCompletePayment",method="post", name="bank")
          input(type="hidden", name="refId", value="#{result.refId}")
          input(type="hidden", name="callBackUrl", value="#{result.callBackUrl}")
          input(type="hidden", name="resCode", value="17")
          button.btn.btn-danger(type="submit") failed
