extends layout

block content
  h1= title
  - var transactions = result
  table.table.table-striped.mt-5.mb-5
    thead
      tr
        td Id
        td RefId
        td ResCode
        td Amount
        td SaleOrderId
        td SaleReferenceId
        td CallBackUrl
    tbody
      each transaction in transactions
        tr
          td #{transaction._id}
          td #{transaction.refId}
          td #{transaction.ResCode}
          td #{transaction.amount}
          td #{transaction.saleOrderId}
          td #{transaction.SaleReferenceId}
          td #{transaction.callBackUrl}
